.footer-content {
    color: var(--white);
    text-align: center;
    
}

.footer .social {
    justify-content: center;
}

.footer-logo{
    display: none;
}

@media screen and (min-width: 768px) {
    .footer-content {
        border: 1px solid red;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    .footer-logo {
        display: block;
    }

    .footer .social {
        order: 3;
        padding: 0px;
    }
    
}

@media screen and (min-width: 1024px) {
    .footer-copyright{
        display: flex;
        gap:5px;
    }

    .footer {
        margin-block-start: 40px;
        margin-block-end: 40px;
    }
}